table {
    border-collapse: collapse;
}

td, th {
    padding: 2px;
    vertical-align: baseline;
}

th {
    width: 150px;
}

input {
    padding: 2px;
}

.button {
    padding-top: 10px;
}

.detail td {
    border: 1px solid gray;
    padding: 5px;
    width: 200px;
}

.page-header {
    background-color: lightgrey;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}