{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-ui-1.11.4/jquery-ui.css' %}" rel="stylesheet">
    <script src="{% static 'jquery-ui-1.11.4/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/datepicker-ru.js' %}"></script>
    <script>
    $(document).ready(function() {
        $('.datepicker').datepicker({
            dateFormat: "dd.mm.yy"
        });
    });
    </script>
    <title></title>
</head>
<body>
    <div class="page-header">
        <h1><a href="/">Med App Test</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>


<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>