{% extends 'med_app/base.html' %}

{% block content %}
    <h1>Пациент</h1>
    <div class="col-md-6">
        <div>
            <h3>Данные о пациенте:</h3>
            <table class="detail">
                <tr>
                    <th>Фамилия:</th>
                    <td>{{ patient.family_name }}</td>
                </tr>
                <tr>
                    <th>Имя:</th>
                    <td>{{ patient.first_name }}</td>
                </tr>
                <tr>
                    <th>Отчество:</th>
                    <td>{{ patient.patronymic_name }}</td>
                </tr>
                <tr>
                    <th>Дата рождения:</th>
                    <td>{{ patient.date_of_birth }}</td>
                </tr>
                <tr>
                    <th>Пол:</th>
                    <td>{{ patient.sex }}</td>
                </tr>
                <tr>
                    <th>Номер телефона:</th>
                    <td>{{ patient.phone_number }}</td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Документ, удостоверяющий личность:</h3>
            <table class="detail">
                <tr>
                    <th>Документ:</th>
                    <td>{{ document.doc_name }}</td>
                </tr>
                <tr>
                    <th>Серия:</th>
                    <td>{{ document.serial }}</td>
                </tr>
                <tr>
                    <th>Номер:</th>
                    <td>{{ document.number }}</td>
                </tr>
                <tr>
                    <th>Дата выдачи:</th>
                    <td>{{ document.date_of_issue }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h3>Адрес прописки:</h3>
            <table class="detail">
                <tr>
                    <th>Город:</th>
                    <td>{{ reg_address.city }}</td>
                </tr>
                <tr>
                    <th>Улица:</th>
                    <td>{{ reg_address.street }}</td>
                </tr>
                <tr>
                    <th>Дом:</th>
                    <td>{{ reg_address.house }}</td>
                </tr>
                <tr>
                    <th>Квартира:</th>
                    <td>{{ reg_address.apartment }}</td>
                </tr>
                <tr>
                    <th>Почтовый индекс:</th>
                    <td>{{ reg_address.postal_code }}</td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Фактический адрес:</h3>
            <table class="detail">
                <tr>
                    <th>Город:</th>
                    <td>{{ act_address.city }}</td>
                </tr>
                <tr>
                    <th>Улица:</th>
                    <td>{{ act_address.street }}</td>
                </tr>
                <tr>
                    <th>Дом:</th>
                    <td>{{ act_address.house }}</td>
                </tr>
                <tr>
                    <th>Квартира:</th>
                    <td>{{ act_address.apartment }}</td>
                </tr>
                <tr>
                    <th>Почтовый индекс:</th>
                    <td>{{ act_address.postal_code }}</td>
                </tr>
            </table>
        </div>
    </div>
    <a class="btn btn-default" href="{% url 'patient_edit' pk=patient.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endblock %}